In [1]:
import pandas as pd
import numpy as np

All state details

In [2]:
df_ap=pd.read_csv('all_details_ap.csv')
df_k=pd.read_csv('all_details_k.csv')
df_t=pd.read_csv('all_details_t.csv')
df_kad=pd.read_csv('all_details_kad.csv')
df_r=pd.read_csv('all_details_r.csv')
df_sb=pd.read_csv('all_details_sb.csv')
df_hp=pd.read_csv('all_details_hp.csv')
df_a=pd.read_csv('all_details_a.csv')
df_up=pd.read_csv('all_details_up.csv')
df_b=pd.read_csv('all_details_b.csv')

In [3]:
redbus_df=pd.concat([df_ap,df_k,df_t,df_kad,df_r,df_sb,df_hp,df_a,df_up,df_b],ignore_index=True)
redbus_df

,Route_name,Route_link,Bus_name,Bus_type,Departing_time,Duration,Reaching_time,Star_rating,Price,Seat_availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),22:55,06h 15m,05:10,4.6,649.00,25 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Bharat Benz A/C Seater /Sleeper (2+1),23:50,05h 45m,05:35,4.4,549.00,31 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,IntrCity SmartBus,Scania AC Multi Axle Sleeper (2+1),23:59,06h 31m,06:30,4.5,1089.00,15 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),21:50,06h 40m,04:30,3.9,560.00,14 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,FRESHBUS,Electric A/C Seater (2+2),13:35,05h 50m,19:25,4.5,499.00,26 Seats available
...,...,...,...,...,...,...,...,...,...,...
7705,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Shree Balajee Travels And Cargo,A/C Seater / Sleeper (2+2),20:00,07h 30m,03:30,1.3,1079.00,72 Seats available
7706,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Travel Point World LLP,A/C Seater / Sleeper (2+2),20:20,07h 00m,03:20,1.6,1999.00,38 Seats available
7707,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Kusum Travels and Logistics,A/C Seater / Sleeper (2+1),17:30,08h 15m,01:45,1.4,1428.57,40 Seats available
7708,Gopalganj (Bihar) to Lucknow,https://www.redbus.in/bus-tickets/gopalganj-to...,Shiv Mahima Travels,A/C Seater / Sleeper (2+2),20:20,07h 39m,03:59,1.0,1141.90,56 Seats available
7709,Muzaffarpur (Bihar) to Bihar Sharif,https://www.redbus.in/bus-tickets/muzaffarpur-...,Bihar state road transport corporation (BSRTC)...,AC Seater (2+2),18:00,05h 30m,23:30,3.8,275.00,0

Data Cleaning

In [27]:
redbus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7710 entries, 0 to 7709
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_name         7710 non-null   object
 1   Route_link         7710 non-null   object
 2   Bus_name           7710 non-null   object
 3   Bus_type           7710 non-null   object
 4   Departing_time     7710 non-null   object
 5   Duration           7710 non-null   object
 6   Reaching_time      7710 non-null   object
 7   Star_rating        7710 non-null   float64
 8   Price              7710 non-null   float64
 9   Seat_availability  7710 non-null   object
dtypes: float64(2), object(8)
memory usage: 602.5+ KB

In [28]:
redbus_df["Price"]=redbus_df["Price"].astype(float)
redbus_df["Price"].fillna(0)

0        649.00
1        549.00
2       1089.00
3        560.00
4        499.00
         ...
7705    1079.00
7706    1999.00
7707    1428.57
7708    1141.90
7709     275.00
Name: Price, Length: 7710, dtype: float64

In [29]:
redbus_df["Departing_time"]=pd.to_datetime(redbus_df["Departing_time"],format="%H:%M").dt.strftime("%H:%M")
redbus_df["Reaching_time"]=pd.to_datetime(redbus_df["Reaching_time"],format="%H:%M").dt.strftime("%H:%M")

In [30]:
print(type(redbus_df['Departing_time'][0]))

<class 'str'>

In [31]:
print(type(redbus_df['Reaching_time'][0]))

<class 'str'>

In [40]:
redbus_df['Seat_availability'].dtype

dtype('O')

In [42]:
redbus_df['Seat_availability']=redbus_df['Seat_availability'].str.replace("Seat_availability","").str[0]
redbus_df['Seat_availability']=redbus_df['Seat_availability'].str.replace("Seat_availability","").str[0]

In [43]:
redbus_df[redbus_df['Seat_availability']==" "]

Empty DataFrame
Columns: [Route_name, Route_link, Bus_name, Bus_type, Departing_time, Duration, Reaching_time, Star_rating, Price, Seat_availability]
Index: []

In [44]:
len(redbus_df[redbus_df['Seat_availability']==0])

0

In [45]:
redbus_df['Seat_availability']

0       2
1       3
2       1
3       1
4       2
       ..
7705    7
7706    3
7707    4
7708    5
7709    0
Name: Seat_availability, Length: 7710, dtype: object

In [46]:
redbus_df.dtypes

Route_name            object
Route_link            object
Bus_name              object
Bus_type              object
Departing_time        object
Duration              object
Reaching_time         object
Star_rating          float64
Price                float64
Seat_availability     object
dtype: object

In [47]:
redbus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7710 entries, 0 to 7709
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_name         7710 non-null   object
 1   Route_link         7710 non-null   object
 2   Bus_name           7710 non-null   object
 3   Bus_type           7710 non-null   object
 4   Departing_time     7710 non-null   object
 5   Duration           7710 non-null   object
 6   Reaching_time      7710 non-null   object
 7   Star_rating        7710 non-null   float64
 8   Price              7710 non-null   float64
 9   Seat_availability  7710 non-null   object
dtypes: float64(2), object(8)
memory usage: 602.5+ KB

In [48]:
redbus_df=redbus_df.replace({np.nan:None})

In [49]:
redbus_df.to_csv('redbus_df.csv',index=False)

Create MYSQL table

In [51]:
import mysql.connector
import pandas as pd

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  port="3306",
  database="redbus",
  password="181506"
)

mycursor = mydb.cursor()

In [52]:
query='''CREATE TABLE IF NOT EXISTS redbusdetails (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Route_name VARCHAR(255) NULL,
    Route_link VARCHAR(255) NULL,
    Bus_name VARCHAR(255) NOT NULL,
    Bus_type VARCHAR(255) NOT NULL,
    Departing_time VARCHAR(255) NOT NULL,
    Duration VARCHAR(255) NOT NULL,
    Reaching_time VARCHAR(255) NOT NULL,
    Star_rating FLOAT NULL,
    Price INT NULL,
    Seat_availability VARCHAR(255) NOT NULL
);'''

mycursor.execute(query)

print("Table created successfully")

Table created successfully

In [53]:
insert_qurey='''INSERT INTO redbusdetails(
                    Route_name,
                    Route_link,
                    Bus_name,
                    Bus_type,
                    Departing_time,
                    Duration,
                    Reaching_time,
                    Star_rating,
                    Price,
                    Seat_availability)
                VALUES( %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

data=redbus_df.values.tolist()

mycursor.executemany(insert_qurey,data)

mydb.commit()

print("Values inserted successfully")

Values inserted successfully